 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

header {
  background-color: #333;
  color: white;
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.4rem;
}

nav ul li a:hover {
  background-color: #555;
}

.navbar-nav .nav-link {
  text-transform: uppercase; /* Met les icônes en majuscule */
}

.navbar-nav .nav-link.active {
  color: lightskyblue !important; 
  font-weight: bold;
}


.mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.mosaic img {
  margin: 1rem;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.game-info {
  margin: 1rem;
  width: 200px;
  color: #333;
}


.auth-container {
  display: flex;
  align-items: center;
}

.status-text {
  font-weight: bold;
  font-size: 1.1rem; 
  color: #007bff; 
  padding-right: 1rem;
}

#success-banner {
  display: none;
}

/* Assure que la carte s'adapte naturellement à son contenu */
.card {
  overflow: hidden;  /* Pas d'effet de débordement pendant la transition */
  transition: all 0.5s ease;
}

/* Style par défaut de la description cachée */
.game-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  margin: 0;  /* Pour éviter des espaces indésirables */
}

/* Au survol, la description se déploie */
.card:hover .game-description {
  max-height: 150px; /* Ajuster valeur selon hauteur de description */
  opacity: 1;
}

.card-body h2 {
  /* On utilise un modèle flexible pour le texte */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  /* On définit la hauteur en fonction du nombre de lignes et d'un line-height choisi */
  line-height: 1; /* Par exemple 1.4 */
  height: calc(2 * 1em); /* Equivaut à deux lignes */
}

.card-img-top {
  width: 100%; /* Remplir la largeur disponible */
  height: auto; /* Maintenir le ratio d'origine de l'image */
  aspect-ratio: 2 / 3; /* Forcer le ratio 2/3 */
  object-fit: contain; /* Ajouter des espaces si nécessaire pour respecter le ratio */
  background-color: #000; /* Couleur de fond pour les zones vides (facultatif) */
}

/* Pour le conteneur de l'image avec icône */
.img-container {
  position: relative;
}

/* Style de l'icône bleue, cachée par défaut */
.hover-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Pour éviter d'intercepter le survol sur l'image principale */
}

.img-container:hover .hover-icon {
  opacity: 1;
}

